services:
  backend:
    build: ./backend
    container_name: trip_planner_backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - CORS_ALLOWED_ORIGINS=http://localhost:5173
      - ALLOWED_HOSTS=*

  frontend:
    build: ./frontend
    container_name: trip_planner_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE=http://localhost:8000
    depends_on:
      - backend
